@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="/favicon.ico">
        <title>Home - OMS</title>
        <style>
            .preloading-wapper {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .preloading {
                height: 40px;
            }

            .preloading span {
                display: inline-block;
                width: 8px;
                height: 100%;
                border-radius: 4px;
                background: #95abf9;
                animation: loadsaven 1.04s ease infinite;
            }
    
            .preloading span:nth-child(2) {
                animation-delay: 0.13s;
            }

            .preloading span:nth-child(3) {
                animation-delay: 0.26s;
            }

            .preloading span:nth-child(4) {
                animation-delay: 0.39s;
            }

            .preloading span:nth-child(5) {
                animation-delay: 0.52s;
            }
        </style>
        <link href="~/Content/chunk-lingxingUI.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/chunk-libs.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/app.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-NRLS16EKKE&amp;l=dataLayer&amp;cx=c"></script>
        <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-213536485-3&amp;l=dataLayer&amp;cx=c"></script>
        <script async="" src="https://static.hotjar.com/c/hotjar-3119560.js?sv=6"></script>
        <script async="" src="https://script.hotjar.com/modules.0721e7cf944cf9d78a0b.js" charset="utf-8"></script>
        <script charset="utf-8" src="/./js/chunk-2d0f0b9f.js?v=2d0d0964"></script>
        <script charset="utf-8" src="/./js/vendors~dashboard.js?v=9731241f"></script>
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css?v=9e71a62f">
        <script charset="utf-8" src="/./js/dashboard.js?v=bfa80633"></script>
    </head>

    <div data-v-441fc658="" id="app">
            <div data-v-b3d0b4c2="" data-v-441fc658="" class="layout-container">
                <div data-v-b3d0b4c2="" class="layout-right">
                    <div data-v-b3d0b4c2="" class="layout-content">
                        
                        <div data-v-d374ef3c="" data-v-59474a12="" data-v-b3d0b4c2="" class="list-container">
                            <div data-v-39737590="" data-v-d374ef3c="" class="datequery-time">
                                <div data-v-39737590="" class="time">
                                    Updated to time. 2024-10-01 14:43:14 UTC+8
                                </div>
                                <span data-v-3259bb7c="" data-v-39737590="" class="el-popover-span drag-popover drag-btn">
                                    <!---->
                                    <span class="el-popover__reference-wrapper">
                                        <i data-v-3259bb7c="" class="xl-font xl_table_list_setting drag-icon el-popover__reference" aria-describedby="el-popover-8481" tabindex="0"></i>
                                    </span>
                                </span>
                            </div>
                            <div data-v-d374ef3c="" class="container el-scrollbar ">
                                <div class="summary_scroll-warp el-scrollbar__wrap" style="margin-bottom: -11px; margin-right: -11px;">
                                    <div class="el-scrollbar__view">
                                        <div data-v-d374ef3c="" class="dashboard"><div data-v-31cd8115="" data-v-d374ef3c="" class="top el-scrollbar ">
                                            <div class="scroll-warp el-scrollbar__wrap" style="margin-bottom: -11px; margin-right: -11px;">
                                                <div class="el-scrollbar__view scroll-view"><ul data-v-31cd8115="" class="summary">
                                                    <li data-v-31cd8115="" style="min-width: 168px;">
                                                        <div data-v-47b44f52="" class="title">
                                                            <h3 data-v-47b44f52="">Inbound</h3>
                                                            <i data-v-47b44f52="" class="el-icon-arrow-right"></i>
                                                        </div>
                                                        <div data-v-31cd8115="" class="data-warp">
                                                            <div data-v-57b8cb04="" class="data">
                                                                <div data-v-57b8cb04="" class="title">
                                                                    Awaiting
                                                                </div>
                                                                <div data-v-57b8cb04="" class="value">
                                                                    176
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li data-v-31cd8115="" style="min-width: 304px;">
                                                        <div data-v-47b44f52="" class="title">
                                                            <h3 data-v-47b44f52="">Outbound</h3>
                                                            <i data-v-47b44f52="" class="el-icon-arrow-right"></i>
                                                        </div>
                                                        <div data-v-31cd8115="" class="data-warp">
                                                            <div data-v-57b8cb04="" class="data">
                                                                <div data-v-57b8cb04="" class="title">
                                                                    Parcel
                                                                </div>
                                                                <div data-v-57b8cb04="" class="value">
                                                                    914
                                                                </div>
                                                            </div>
                                                            <div data-v-57b8cb04="" class="data">
                                                                <div data-v-57b8cb04="" class="title">
                                                                    Freight
                                                                </div>
                                                                <div data-v-57b8cb04="" class="value">
                                                                    127
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <!----><li data-v-31cd8115="" style="min-width: 168px;">
                                            <div data-v-47b44f52="" class="title">
                                                <h3 data-v-47b44f52="">Returns</h3>
                                                <i data-v-47b44f52="" class="el-icon-arrow-right"></i>
                                            </div>
                                            <div data-v-31cd8115="" class="data-warp">
                                                <div data-v-57b8cb04="" class="data">
                                                    <div data-v-57b8cb04="" class="title">
                                                        Awaiting
                                                    </div>
                                                    <div data-v-57b8cb04="" class="value">
                                                        29
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-v-31cd8115="" style="min-width: 440px;">
                                            <div data-v-47b44f52="" class="title">
                                                <h3 data-v-47b44f52="">FBA Return</h3>
                                                <i data-v-47b44f52="" class="el-icon-arrow-right"></i>
                                            </div>
                                            <div data-v-31cd8115="" class="data-warp">
                                                <div data-v-57b8cb04="" class="data">
                                                    <div data-v-57b8cb04="" class="title">
                                                        Awaiting
                                                    </div>
                                                    <div data-v-57b8cb04="" class="value">
                                                        74
                                                    </div>
                                                </div>
                                                <div data-v-57b8cb04="" class="data">
                                                    <div data-v-57b8cb04="" class="title">
                                                        To Replace Label
                                                    </div>
                                                    <div data-v-57b8cb04="" class="value">
                                                        2
                                                    </div>
                                                </div>
                                                <div data-v-57b8cb04="" class="data">
                                                    <div data-v-57b8cb04="" class="title">
                                                        To Ship
                                                    </div>
                                                    <div data-v-57b8cb04="" class="value">
                                                        55
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-v-31cd8115="" style="min-width: 168px;">
                                            <div data-v-47b44f52="" class="title">
                                                <h3 data-v-47b44f52="">Cross Dock</h3>
                                                <i data-v-47b44f52="" class="el-icon-arrow-right"></i>
                                            </div>
                                            <div data-v-31cd8115="" class="data-warp">
                                                <div data-v-57b8cb04="" class="data">
                                                    <div data-v-57b8cb04="" class="title">
                                                        To Receive
                                                    </div>
                                                    <div data-v-57b8cb04="" class="value">
                                                        11
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-v-31cd8115="" style="min-width: 168px;">
                                            <div data-v-47b44f52="" class="title">
                                                <h3 data-v-47b44f52="">Bill</h3>
                                                <i data-v-47b44f52="" class="el-icon-arrow-right"></i>
                                            </div>
                                            <div data-v-31cd8115="" class="data-warp">
                                                <div data-v-57b8cb04="" class="data">
                                                    <div data-v-57b8cb04="" class="title">
                                                        Progressing
                                                    </div>
                                                    <div data-v-57b8cb04="" class="value">
                                                        34
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                                <div class="el-scrollbar__thumb" style="width: 77.5401%; transform: translateX(0%);">
        
                                </div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                                <div class="el-scrollbar__thumb" style="transform: translateY(0%);">
        
                                </div>
                            </div>
                        </div>
                        <div data-v-d374ef3c="" class="left">
                            <div data-v-9b63c0be="" data-v-d374ef3c="" class="order-analysis echart-container gap">
                                <div data-v-9b63c0be="" class="header">
                                    <h3 data-v-9b63c0be="">Operation Overview</h3>
                                    <div data-v-9b63c0be="" class="query">
                                        <div data-v-9b63c0be="" role="radiogroup" class="el-radio-group">
                                            <label data-v-9b63c0be="" role="radio" aria-checked="true" tabindex="0" class="el-radio-button is-active" plain="">
                                                <input type="radio" tabindex="-1" class="el-radio-button__orig-radio" value="week">
                                                <span class="el-radio-button__inner" style="overflow: hidden; text-overflow: ellipsis;" inelement="0"> 
                                                    This Week 
                                                    <!---->
                                                </span>
                                            </label>
                                            <label data-v-9b63c0be="" role="radio" tabindex="-1" class="el-radio-button">
                                                <input type="radio" tabindex="-1" class="el-radio-button__orig-radio" value="month">
                                                <span class="el-radio-button__inner" style="overflow: hidden; text-overflow: ellipsis;" inelement="0"> 
                                                    This Month 
                                                    <!---->
                                                </span>
                                            </label>
                                            <label data-v-9b63c0be="" role="radio" tabindex="-1" class="el-radio-button">
                                                <input type="radio" tabindex="-1" class="el-radio-button__orig-radio" value="year">
                                                <span class="el-radio-button__inner" style="overflow: hidden; text-overflow: ellipsis;"> 
                                                    This Year 
                                                    <!---->
                                                </span>
                                            </label>
                                        </div>
                                        <div data-v-9b63c0be="" class="el-date-editor el-range-editor el-input__inner date-picker el-date-editor--daterange el-range-editor--small" style="width: 202px;">
                                            <i class="el-input__icon el-range__icon iconfont lx_combo_date"></i>
                                            <input autocomplete="off" name="" class="el-range-input" style="width: 72px;">
                                            <span class="el-range-separator">-</span><input autocomplete="off" name="" class="el-range-input" style="width: 72px;">
                                            <i class="el-input__icon el-range__close-icon iconfont"></i>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-9b63c0be="" class="legend">
                                    <div data-v-0023a306="" class="legend-item" style="box-shadow: rgb(49, 84, 243) 0px 2px 0px 0px inset;">
                                        <div data-v-0023a306="" class="title">
                                            Inbound
                                        </div>
                                        <div data-v-0023a306="" class="value">
                                            11
                                        </div>
                                    </div>
                                    <div data-v-0023a306="" class="legend-item" style="box-shadow: rgb(145, 54, 224) 0px 2px 0px 0px inset;">
                                        <div data-v-0023a306="" class="title">
                                            Parcel Outbound
                                        </div>
                                        <div data-v-0023a306="" class="value">
                                            19
                                        </div>
                                    </div>
                                    <div data-v-0023a306="" class="legend-item" style="box-shadow: rgb(40, 168, 100) 0px 2px 0px 0px inset;">
                                        <div data-v-0023a306="" class="title">
                                            Freight Outbound
                                        </div>
                                        
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        <div data-v-0023a306="" class="value">
            0
        </div>

